<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yjyt.mapper.YardTasktypeMapper">

    <resultMap id="BaseResultMap" type="com.example.yjyt.domain.YardTasktype">
            <id property="yardId" column="yard_id" jdbcType="VARCHAR"/>
            <id property="tasktypeId" column="tasktype_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        yard_id,tasktype_id
    </sql>
</mapper>
